html,header p,body,#wrap{
    padding:0;
    margin:0;
}
body{
    background: #EFEFEF;
}
body > header{
    width:100%;
    height: 10vh;
    margin:0;
    position: relative;
    z-index: 10;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: #3D85C6;
    box-shadow: 0px 0px 15px #000;
    border-radius: 0px 0 0 100px ;
}
a{
    text-decoration: none;
    color:#CFFCFF;
}
body > header p{
    font-size: 300%;
    margin-left: 5%;
    color:#CFFCFF;
    text-shadow: 0 -1px 0 #82DFF1,
               0 -2px 0 #66CDE2,
               0 -3px 0 #4FC3DA,
               0 -4px 0 #42B4CB,
               0 6px 1px rgba(0,0,0,.5),
               0 0 5px rgba(0,0,0,.5),
               0 1px 3px rgba(0,0,0,.8),
               0 3px 5px rgba(0,0,0,0.1),
               0 5px 15px rgba(0,0,0,0.5),
               0 15px 15px rgba(0,0,0,.5),
               0 30px 30px rgba(0,0,0,.2)

}


.sing{
   cursor: pointer;
   font-size: 200%;
   display: block;
   margin-right:2%;
   color:#CFFCFF;
   text-shadow: 0 -1px 0 #82DFF1,

               0 0 5px rgba(0,0,0,.5),
               0 1px 3px rgba(0,0,0,.8),
               0 3px 5px rgba(0,0,0,0.3)
}

#archive{
    margin-right: -63vw;
    opacity: 0.6;
    transition: all 0.5s ease;
}
#archive:hover,#archive.active{
        opacity: 1;
}

#wrap{
    width: 100%;
    display:flex;
    justify-content: left;
}

#add_task{
    display: none;
}