{% load staticfiles %}
{%for l in Later%}
    {%if forloop.first%}

        <span>У Вас есть просроченные задания! Очень надеемся, что вы просто забыли их отметить </span>

    {%endif%}
    <div class="tasks later" data-id="{{l.id}}">
        <header>
            <div class="priority {{l.prior}}"></div>
            <span>{{l.pub_date|date:"G:i j.n.Y"}} </span>
            <div class="icon" data-num="{{l.project.img}}"></div>
            <span class="projectName"> {{l.project.name}}</span>
            <div class="check" data-status='{{l.status}}' ></div>
            <div class="menu" ></div>
        </header>
        <span class="taskName">{{l.name}}</span>

    </div>
{% endfor%}

{%for t in Tasks%}
    <div class="tasks" data-id="{{t.id}}">
        <header>
            <div class="priority {{t.prior}}"></div>
            <span>{{t.pub_date|date:"G:i j.n.Y"}} </span>
            <div class="icon" data-num="{{t.project.img}}"></div>
            <span class="projectName"> {{t.project.name}}</span>
            <div class="check" data-status='{{t.status}}' ></div>
            <div class="menu"  ></div>
        </header>
        <span class="taskName">{{t.name}}</span>
    </div>

{% empty %}
    <p style="color:#AAA">На данный момент у Вас нет ни одного активного задания...</p>

{% endfor%}


