<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load socialaccount %}
<html lang ='uk'>
<head>
	<title>ToDo</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Платонов Андрей" />
            <meta http-equiv="Cache-Control" content="private">
            <meta http-equiv="Expires" content="Wed, 26 Feb 1999 08:21:57 GMT"/>

            <meta HTTP-EQUIV="Expires" CONTENT="0">
            <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
            <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
            <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link href="{%static 'css/ui/jquery-ui.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/datetime/timepicker-ui.css' %}"  />
    <link href="{% static 'css/base.css' %}" rel='stylesheet' type='text/css'>
        {% block link %} {% endblock %}



</head>

<body>

    <header >
        <p><a href="/">TODO</a></p>
        <span id="archive" class="sing"><a href="/archive">Архив</a></span>

            {% if user.is_authenticated%}
                <form  class="sing" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                             <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                             <span id='logout' >Выход</span>

                </form>
            {% else %}
                    <span class="sing"></span>
            {%endif%}

    </header>

    <div id="wrap">{% block content%} {%endblock%}</div>
            <div id="preloader">
            <div class="cssload-tetrominos">
                    <div class="cssload-tetromino cssload-box1"></div>
                    <div class="cssload-tetromino cssload-box2"></div>
                    <div class="cssload-tetromino cssload-box3"></div>
                    <div class="cssload-tetromino cssload-box4"></div>
            </div>
                </div>
                {%if not archive%}
                <div id="add_task" data-id>

                    <label>Приоритет: <label><input type="radio" name="priority" value='a'/> Высокий </label><label><input name="priority" type="radio" value='b'/> Средний </label><label><input name="priority" type="radio" value='c'/> Низкий</label></label><br/>
                    <label>Проект: <select >
                    {%for p in Projects%}
                        <option value="{{p.id}}">{{p.name}}</option>
                    {%endfor%}
                    </select></label>
                    <textarea id="add_name" placeholder="Описание задания"></textarea><br/>
                    <input  id="add_datetime" placeholder="Время до выполнения"/><br/>
                     <span class="esc">Отмена</span><span class="end"> Готово</span>
                </div>
                {%endif%}

    <div id='error_box' style='display: none;color:black; background: rgba(132,182,222,0.95); position: fixed;z-index:100; width: 40%; left:36%; top: 40%; -webkit-box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.7); box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.7); -webkit-border-radius: 5px; border-radius: 5px; text-align: center;'>

            <p id='error_message' style='color: #FFF;font-size: 200%; margin-top: 18px; font-weight: bold;  text-shadow: 1px 1px 1px #000; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);'></p>
    </div>
    <script src="{% static 'js/jquery_1_9_2.js' %}"></script><!-- я знаю про существование $(document).ready()-->
    <script src="{% static 'js/datetime/timepicker-ui.js' %}"></script>
    <script src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {%block script%}{%endblock%}
    <script src="{% static 'js/edit_add.js' %}"></script>


</body>

</html>