{% extends "apka/base.html" %}
{% load static %}
{% load socialaccount %}

{%block link%}
    <link href="{% static 'css/sing.css' %}" rel='stylesheet' type='text/css'>
{%endblock%}

{%block content%}
    <section>

        <p><span style="color:#0475FF;font-size:150%">Todo</span> — это простой инструмент для управления повседневными задачами как в рабочих, так и в личных целях.</p>
        <p>Для начала работы необходимо войти</p>
        <div>
            <a href="{% provider_login_url 'vk' %}"><img src='{% static "img/vk.gif" %}'></a>
            <a href="{% provider_login_url 'facebook' %}"><img src='{% static "img/fb.gif" %}'></a>
            <a href="{% provider_login_url 'google' %}"><img src='{% static "img/gp.gif" %}'></a>
        </div>
    </section>
{%endblock%}
