{% extends "apka/base.html" %}
{% load static %}

{% block link %}
    <link href="{% static 'css/todo.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/tasks.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content%}
    <div  id='left' class="panel">
        <header data-day="{{day}}">
            <p>{{user.first_name}} {{user.last_name}}</p>

            <p class="filter active" data-day="1">Сегодня </p>
            <p class="filter" data-day="7">7 дней </p>
            <p class="filter" data-day="0">Все</p>


        </header>
        <p>Проекты:</p>
        <div></div>
        <div class="add">
            <div>
                <img src="{% static 'img/add.gif' %}">  <p>Добавить проект</p>
            </div>
        </div>
        <div id="add_project" data-id>
             <div>
                 <div class="icon" data-num="1"></div>
                 <textarea id="add_name_pr" placeholder="Название проекта"></textarea><br/>
             </div>
            <span class="end"> Готово</span> <span class="esc">Отмена</span>
         </div>
    </div>

    <div id="centr">
        <div></div>
        <div class="add">
            <div>
                <img src="{% static 'img/add.gif' %}"> <p>Добавить задание</p>
            </div>
        </div>
    </div>




{%endblock%}

{%block script%}
        <script src="{% static 'js/load_content.js' %}"></script>
        <script src="{% static 'js/slide.js' %}"></script>
{%endblock%}